 {{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/css/blogSpace.css"> {{/section}} {{#section 'js'}}
<script type="text/javascript" src="/js/blogSpace.js"></script> {{/section}}

<button type="button" class="btn btn-default" data-userid="{{userID}}" id="create">new post</button>

{{#each blogPost}}

<div class="list-group" id="{{id}}">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{title}}</h5>
            <small>createdat: {{createdAt}} updated at: {{updatedAt}}</small>
        </div>
        <div>
            <button type="button" class="btn btn-default edit" data-postid="{{id}}">view/edit</button>
            <button type="button" class="btn btn-default delete" data-postid="{{id}}">delete</button>

        </div>
        <p class="mb-1">id = {{id}}</small>
    </a>
</div>
{{/each}}